.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  float:left;
  font-family: "Helvetica Narrow", sans-serif;
  font-weight: lighter;

}
.menu li {
  display: block;
  padding: 15px;

}

.menu a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    height: 60px;
    width: 100px;
}

.menu a:link, .menu a:visited {
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  line-height: 60px;

}
.menu a:hover, .menu a:active {
  background-color: #666666;
}

h2 {
  text-align: center;
}

.sidebar {
  width: 300px;
  height: 200px;
  float: right;
  background-color: black;
  font-family: "Helvetica Narrow", sans-serif;
  font-weight: lighter;
  color: white;
  line-height: 25px;
}

.sidebar li {
  list-style-type: none;
  text-align: center;

}
